@using Kendo.Mvc.UI

@section content_header{
    <h1><img src="~/Content/themes/admin/img/siteaction.png" /> Сообщение</h1>
    @Html.GetBreadcrumb("fa fa-dashboard", null, "Мониторинг", "Сообщение")
}
@section content_box_header{
    @Html.Action("TopMenu", "Grid", new { insert = false, area = String.Empty })
    <hr class="hr-top" />
}

@(Html.Kendo().Grid<GridData>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(c => c).Filterable(false).Sortable(false).Title("<div><input type='checkbox'></div>").Width(50);
            columns.Bound(c => c.Name).Title("Тема").Width(150);
            columns.Bound(c => c.Name).Title("<div class='text-center'>Название </br>шаблона</div>").Width(150);
            columns.Bound(c => c.Name).Title("<div class='text-center'>Тип </br>сообщения</div>").Width(150);
            columns.Bound(c => c.Name).Title("Получатель").Width(120);
            columns.Bound(c => c.Name).Title("Отпрвитель").Width(120);
            columns.Bound(c => c.Name).Title("Статус").Width(120); ;
            columns.Bound(c => c.Name).Title("<div>Дата действия</div>").Width(120);
            columns.Bound(c => c.Name).Title("Комментарий").Width(120);
            columns.Bound(c => c.Name).Title("Действия").Width(120);

        })
        .Filterable()
        .ColumnMenu(c => c.Columns(false))
        .Resizable(resizable => resizable.Columns(true))
        .Reorderable(reorderable => reorderable.Columns(true))
        .Scrollable()
        .Sortable()
        .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(5))

        .DataSource(dataSource => dataSource
            .Ajax()
            .Read(read => read.Action("Test", "Home"))
        )
)





