@model GridTopMenu
<div class="btn-group" role="group" aria-label="...">
    @if (Model.Insert)
    {
        <button class="btn btn-sm btn-success"><i class="fa fa-plus-circle"></i> Добавить</button>
    }
    @if (Model.Tags)
    {
        <button class="btn btn-default btn-sm"><i class="fa fa-tags"></i> Теги</button>
    }
    
    @if (Model.Export)
    {
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Экспорт
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#"><i class="fa fa-file-excel-o"></i> Excel</a></li>
                <li><a href="#"><i class="fa fa-file-pdf-o"></i> Pdf</a></li>
            </ul>
        </div>
    }
    

</div>

