@section content_header{
    <h1><img src="~/Content/themes/admin/img/workflowtemplates.png" />  Шаблоны процессов</h1>
    @Html.GetBreadcrumb("fa fa-dashboard", null, "Развитие", "Шаблоны процессов")
}

@section content_box_header{
    <div class="row">
    <div class="col-md-6">
        <div class="btn-group btn-group-sm">
            <button class="btn btn-success" type="button">Новый процесс <i class="fa fa-plus-circle"></i></button>
            <button class="btn btn-primary" type="button">Мастер процесса <i class="fa fa-code-fork"></i></button>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Статус процесса
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">В планах + действующие</a></li>
                    <li><a href="#">В планах</a></li>
                    <li><a href="#">Действующие</a></li>
                    <li><a href="#">Архив</a></li>
                    <li><a href="#">Все</a></li>
                </ul>

            </div>
          </div>
        
    </div>
    <div class="col-md-6">
        <div class="input-group input-group-sm">
            <input type="text" class="form-control form" placeholder="Поиск по ключевым словам">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button">Поиск <i class="fa fa-search"></i></button>
            </span>
        </div>
    </div>
</div>

    <hr class="hr-top" />
}
<div class="text-center">Нет записей</div>

