
@section content_header{
    <h1><img src="~/Content/themes/admin/img/companies.png" /> Компании</h1>
    @Html.GetBreadcrumb("fa fa-dashboard", null, "Мониторинг", "Компании")
}
@section content_box_header{
   <a href="@Url.Action("Add","Companies")" class="btn btn-sm btn-success"><i class="fa fa-plus-circle"></i> Добавить</a>
    <hr class="hr-top" />
}

@(Html.Kendo().Grid<GridData>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(c => c).Filterable(false).Sortable(false).Title("<div><input type='checkbox'></div>").Width(50);
            columns.Bound(c => c.Name).Title("Наименование").Width(150);
            columns.Bound(c => c.Name).Title("Ответственный").Width(150);
            columns.Bound(c => c.Name).Title("Тип компании").Width(150);
            columns.Bound(c => c.Name).Title("<div class='text-center'>Размер <br/>компании</div>").Width(120);
            columns.Bound(c => c.Name).Title("Отрасль").Width(120); ;
            columns.Bound(c => c.Name).Title("<div class='text-center'>Готовность <br/>к продаже</div>").Width(150);
            columns.Bound(c => c.Name).Title("Важность").Width(120); ;
            columns.Bound(c => c.Name).Title("Статус").Width(120); ;
            columns.Bound(c => c.Name).Title("Общий балл").Width(150); ;
            columns.Bound(c => c.Name).Title("Действия").Width(120); ;

        })
        .Filterable()
        .ColumnMenu(c => c.Columns(false))
        .Resizable(resizable => resizable.Columns(true))
        .Reorderable(reorderable => reorderable.Columns(true))
        .Scrollable()
        .Sortable()
        .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(5))

        .DataSource(dataSource => dataSource
            .Ajax()
            .Read(read => read.Action("Test", "Home"))
        )
)





