@using Kendo.Mvc.UI
@using SCA.Areas.Monitoring.Models

@section content_header{
    <h1><img src="~/Content/themes/admin/img/contactactivity.png" /> Лог действий</h1>
    @Html.GetBreadcrumb("fa fa-dashboard", null, "Мониторинг", "Лог действий")
}
@section content_box_header{
    @Html.Action("TopMenu", "Grid", new {insert=false,tags=false, area = String.Empty })
    <hr class="hr-top" />
}

@(Html.Kendo().Grid<ActivityModel>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(c => c).Filterable(false).Sortable(false).Title("<div><input type='checkbox'></div>").Width(50);
            //columns.Bound(c => c.Name).Title("Сессия").Width(150);
            columns.Bound(c => c.ActivityDateAsString).Title("Дата действия").Width(150);
            columns.Bound(c => c.Type).Title("Тип").Width(50);
            columns.Bound(c => c.UserName).Title("Посетитель").Width(120); ;
            //columns.Bound(c => c.Tags).Title("Теги").Width(120);
            columns.Bound(c => c.UserAgent).Title("Браузер").Width(180);
            //columns.Bound(c => c.Name).Title("Описание").Width(120); ;

        })
        .Filterable()
        .ColumnMenu(c => c.Columns(false))
        .Resizable(resizable => resizable.Columns(true))
        .Reorderable(reorderable => reorderable.Columns(true))
        .Scrollable()
        .Sortable()
        .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(5))

        .DataSource(dataSource => dataSource
            .Ajax()
            .Read(read => read.Action("List_Read", "ContactActivity"))
        )
)





