@model SCA.Areas.Monitoring.Models.SitePageModel

<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h4>Новая страница</h4>
    </div>
    <div class="modal-body">
        <dl class="dl-horizontal">
            <dt>Название:</dt>
            <dd>@Html.DisplayFor(model => model.Name)</dd>

            <dt>Теги (через запятую)</dt>
            <dd>@Html.DisplayFor(model => model.Tag)</dd>

            <dt>Относительный URL</dt>
            <dd>@Html.DisplayFor(model => model.RelatedUrl)</dd>
        </dl>
    </div>
    <div>
        @Html.ActionLink("SitePages", "Add", new { @class = "close" })
    </div>
</div>